PORT=2222
NODE_ENV=development
DASHBOARD_PASSWORD_HASH=
SESSION_SECRET=
GITHUB_TOKEN=
PROJECTS_PATH=
TUNNEL_MODE=tunnel-service #none, ngrok, or tunnel-service
NGROK_AUTHTOKEN=
TUNNEL_SERVICE_URL=http://localhost:3000
